<div class="col-md-12 col-sm-12 mb-3">
    <div class="card">
      <div class="card-body border-2">
        <form [formGroup]="UserForm" (ngSubmit)="onSubmit()">
          <!-- En-tête -->
          <div class="d-flex justify-content-between gap-2 flex-column flex-lg-row">
            <h4>{{'MESSAGE.EDIT_TEACHER' | translate}}</h4>
            <div class="d-flex gap-2">
              <button type="submit" class="btn btn-primary border-0 px-2 py-2 rounded-1" [disabled]="UserForm.invalid">
                {{'ACTIONS.EDIT' | translate}} <i class="fa-solid fa-pen-to-square"></i>
              </button>
              <button type="reset" class="btn btn-secondary border-0 px-2 py-2 rounded-1">
                {{'ACTIONS.CANCEL' | translate}} <i class="fa-solid fa-rectangle-xmark"></i>
              </button>
            </div>
          </div>
  
          <!-- Photo -->
          <div class="row mt-4">
            <div class="col-lg-4 mb-3">
              <input
                type="file"
                (change)="onFileSelected($event)"
                id="fileInput"
                class="d-none"
                formControlName="avatar_uuid"
                accept="image/*"
              />
          
              <label
                for="fileInput"
                class="border border-2 rounded-2 p-3 d-flex justify-content-center align-items-center text-center w-50"
                style="border-style: dashed!important; cursor: pointer;"
              >
                <!-- Si une image est sélectionnée localement -->
                <ng-container *ngIf="filePreview">
                  <div class="position-relative d-inline-block">
                    <img [src]="filePreview" alt="Aperçu" class="img-thumbnail" style="max-width: 150px;">
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" (click)="removeFile()">
                      &times;
                    </button>
                  </div>
                </ng-container>
          
                <!-- Si une image vient du backend -->
                <ng-container *ngIf="!filePreview && fileUrl">
                  <div class="position-relative d-inline-block">
                    <img [src]="fileUrl" alt="Avatar" class="img-thumbnail" style="max-width: 150px;">
                    <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" (click)="removeFile()">
                      &times;
                    </button>
                  </div>
                </ng-container>
          
                <!-- Si aucune image n'existe -->
                <ng-container *ngIf="!filePreview && !fileUrl">
                  <div class="text-center">
                    <div>Choisir une photo</div>
                    <i class='bx bx-cloud-upload fs-2'></i>
                  </div>
                </ng-container>
              </label>
            </div>
          </div>
          
  
          <!-- Champs du formulaire -->
          <div class="row mt-4">
            <!-- Nom -->
            <div class="col-lg-4 mb-3">
              <div class="form-floating mb-3">
                <input type="text" formControlName="last_name"
                  [ngClass]="{'is-invalid': UserForm.get('last_name')?.invalid && UserForm.get('last_name')?.touched}"
                  class="form-control" id="lastName" placeholder="Nom">
                <label for="lastName">{{'LABEL.LAST_NAME' | translate}}</label>
                <div *ngIf="UserForm.get('last_name')?.invalid && UserForm.get('last_name')?.touched" class="invalid-feedback">
                  {{'VALIDATION.REQUIRED_FIELD' | translate}}
                </div>
              </div>
            </div>
  
            <!-- Prénom -->
            <div class="col-lg-4 mb-3">
              <div class="form-floating mb-3">
                <input type="text" formControlName="first_name"
                  [ngClass]="{'is-invalid': UserForm.get('first_name')?.invalid && UserForm.get('first_name')?.touched}"
                  class="form-control" id="firstName" placeholder="Prénom">
                <label for="firstName">{{'LABEL.FIRST_NAME' | translate}}</label>
                <div *ngIf="UserForm.get('first_name')?.invalid && UserForm.get('first_name')?.touched" class="invalid-feedback">
                  {{'VALIDATION.REQUIRED_FIELD' | translate}}
                </div>
              </div>
            </div>
  
            <!-- Email -->
            <div class="col-lg-4 mb-3">
              <div class="form-floating mb-3">
                <input type="email" formControlName="email"
                  [ngClass]="{'is-invalid': UserForm.get('email')?.invalid && UserForm.get('email')?.touched}"
                  class="form-control" id="email" placeholder="Email">
                <label for="email">{{'LABEL.EMAIL_ADDRESS' | translate}}</label>
                <div *ngIf="UserForm.get('email')?.invalid && UserForm.get('email')?.touched" class="invalid-feedback">
                  {{'VALIDATION.REQUIRED_FIELD' | translate}}
                </div>
              </div>
            </div>
  
            <!-- Téléphone principal -->
            <div class="col-lg-4 mb-3">
              <div class="form-floating mb-3">
                <input type="tel" formControlName="phone_number"
                  [ngClass]="{'is-invalid': UserForm.get('phone_number')?.invalid && UserForm.get('phone_number')?.touched}"
                  class="form-control" id="phone" placeholder="Téléphone">
                <label for="phone">{{'LABEL.PHONE_NUMBER' | translate}}</label>
                <div *ngIf="UserForm.get('phone_number')?.invalid && UserForm.get('phone_number')?.touched" class="invalid-feedback">
                  {{'VALIDATION.REQUIRED_FIELD' | translate}}
                </div>
              </div>
            </div>
  
            <!-- Téléphone secondaire -->
            <div class="col-lg-4 mb-3">
              <div class="form-floating mb-3">
                <input type="tel" formControlName="second_phone_number"
                  [ngClass]="{'is-invalid': UserForm.get('second_phone_number')?.invalid && UserForm.get('second_phone_number')?.touched}"
                  class="form-control" id="phone2" placeholder="Téléphone 2">
                <label for="phone2">{{'LABEL.PHONE_NUMBER_2' | translate}}</label>
                <div *ngIf="UserForm.get('second_phone_number')?.invalid && UserForm.get('second_phone_number')?.touched" class="invalid-feedback">
                  {{'VALIDATION.REQUIRED_FIELD' | translate}}
                </div>
              </div>
            </div>
  
            <!-- Adresse -->
            <div class="col-lg-4 mb-3">
              <div class="form-floating mb-3">
                <input type="text" formControlName="address"
                  [ngClass]="{'is-invalid': UserForm.get('address')?.invalid && UserForm.get('address')?.touched}"
                  class="form-control" id="address" placeholder="Adresse">
                <label for="address">{{'LABEL.ADDRESS' | translate}}</label>
                <div *ngIf="UserForm.get('address')?.invalid && UserForm.get('address')?.touched" class="invalid-feedback">
                  {{'VALIDATION.REQUIRED_FIELD' | translate}}
                </div>
              </div>
            </div>
  
            <!-- Grade -->
            <div class="col-lg-4 mb-3">
              <div class="form-floating mb-3">
                <input type="text" formControlName="grade"
                  [ngClass]="{'is-invalid': UserForm.get('grade')?.invalid && UserForm.get('grade')?.touched}"
                  class="form-control" id="grade" placeholder="Grade">
                <label for="grade">{{'LABEL.GRADE' | translate}}</label>
                <div *ngIf="UserForm.get('grade')?.invalid && UserForm.get('grade')?.touched" class="invalid-feedback">
                  {{'VALIDATION.REQUIRED_FIELD' | translate}}
                </div>
              </div>
            </div>
  
            <!-- Login -->
            <div class="col-lg-4 mb-3">
              <div class="form-floating mb-3">
                <input type="text" formControlName="login"
                  [ngClass]="{'is-invalid': UserForm.get('login')?.invalid && UserForm.get('login')?.touched}"
                  class="form-control" id="login" placeholder="Identifiant">
                <label for="login">{{'LABEL.LOGIN' | translate}}</label>
                <div *ngIf="UserForm.get('login')?.invalid && UserForm.get('login')?.touched" class="invalid-feedback">
                  {{'VALIDATION.REQUIRED_FIELD' | translate}}
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  